# Dependencies
node_modules/

# Build outputs
build/
dist/
out/

# Test coverage
coverage/

# Caches
.cache/
.parcel-cache/
.turbo/
.eslintcache
.stylelintcache
*.tsbuildinfo

# Framework outputs
.next/
.nuxt/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/IDE
.vscode/*
!.vscode/extensions.json
.idea/
.history/

# OS files
.DS_Store
Thumbs.db

# Hosting/Deploy
.vercel/
.netlify/

# Sass cache
.sass-cache/

# Swap/temporary
*.swp